---
// AnimatedCrownSVG.astro
---

<div class="w-[67px] h-[64px] hover:scale-150 transition-transform duration-300">
  <svg width="67" height="64" viewBox="0 0 67 64" fill="none" xmlns="http://www.w3.org/2000/svg" class="filter">
    <path
      d="M2 60.0895C2.57743 52.352 4.65621 44.7298 5.92656 37.1078C6.3885 34.3361 6.61946 31.5644 6.85043 28.7928C6.96592 27.5224 6.04206 24.5198 7.31241 24.8663C8.35178 25.0972 9.73759 28.3308 10.315 29.2547C12.8557 33.7587 14.7035 38.6091 16.7822 43.344C17.1287 44.1524 18.0526 47.848 18.63 48.0789C19.6694 48.5409 22.5566 45.7692 23.2495 45.0763C25.7902 42.3047 30.5251 31.3335 32.3728 30.2941C32.9503 29.9476 34.7981 32.4883 35.1445 32.9503C37.1078 36.0684 37.9162 40.2259 38.4937 43.806C38.7246 45.1918 38.8401 46.5776 38.7246 48.0789C38.7246 48.1944 38.7246 49.2338 38.7246 49.2338C46.0002 49.8112 49.9268 38.4936 52.9294 37.6852C53.8533 37.4542 55.2391 42.0737 55.3546 42.7666C55.8166 44.8454 56.7405 59.0501 55.8166 60.436C53.9688 63.2076 46.8087 61.4753 44.037 61.3599C32.8348 60.5514 21.5172 60.7824 10.315 61.0134"
      stroke="#FBBF24"
      stroke-width="4"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      class="animate-draw"></path>
    <path
      d="M5.23355 60.8982C4.42515 60.8982 3.73223 60.7827 2.92383 60.6672"
      stroke="#FBBF24"
      stroke-width="4"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      class="animate-draw delay-500"></path>
    <path
      d="M14.0105 4.42529C15.6273 6.50404 17.3596 8.46732 18.399 10.8925"
      stroke="#FBBF24"
      stroke-width="4"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      class="animate-draw delay-1000"></path>
    <path
      d="M31.9109 2C32.2573 3.61681 32.7192 5.23363 32.9502 6.85043"
      stroke="#FBBF24"
      stroke-width="4"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      class="animate-draw delay-1500"></path>
    <path
      d="M51.8899 4.42529C50.2731 6.73502 48.8873 8.81377 47.9634 11.3545"
      stroke="#FBBF24"
      stroke-width="4"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      class="animate-draw delay-2000"></path>
    <path
      d="M64.1315 9.96826C62.7456 12.047 62.8612 11.816 61.5908 14.1258"
      stroke="#FBBF24"
      stroke-width="4"
      stroke-miterlimit="1.5"
      stroke-linecap="round"
      class="animate-draw delay-2500"></path>
  </svg>
</div>

<style>
  @keyframes draw {
    0%,
    100% {
      stroke-dashoffset: 1000;
      opacity: 0;
    }
    10%,
    90% {
      opacity: 1;
    }
    50% {
      stroke-dashoffset: 0;
    }
  }
  .animate-draw {
    stroke-dasharray: 1000;
    animation: draw 5s ease-in-out infinite;
  }
  .delay-500 {
    animation-delay: 0.5s;
  }
  .delay-1000 {
    animation-delay: 1s;
  }
  .delay-1500 {
    animation-delay: 1.5s;
  }
  .delay-2000 {
    animation-delay: 2s;
  }
  .delay-2500 {
    animation-delay: 2.5s;
  }
</style>
