---

---

<div
  class="prose
  prose-h1:font-medium prose-h1:text-lg
  prose-p:my-0 prose-p:leading-loose
  prose-li:my-1
  max-w-[80vw] flex flex-col text-slate-700 dark:text-slate-400 mb-12 sm:mt-8"
>
  <slot />
</div>
