---
interface Props {
  title: string;
  description: string;
}

const { title = 'This is a title', description = 'This is a description' } = Astro.props;
---

<div class="flex flex-col w-full items-center gap-6 py-10">
  <h2 class="text-slate-700 text-center text-2xl font-bold dark:text-slate-100">{title}</h2>
  <p
    class="max-w-[90vw] md:max-w-[60vw] lg:max-w-[40vw] text-center text-slate-600 text-lg leading-relaxed font-medium dark:text-slate-400"
  >
    {description}
  </p>
</div>
