---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

interface Props {
  imageSrc: ImageMetadata;
  altText: string;
  class?: string;
}

const { imageSrc, altText = '', class: className } = Astro.props;
---

<div class="parallax-container relative">
  <Image class:list={['parallax-image', 'opacity-15', className]} src={imageSrc} alt={altText} format="webp" />
</div>

<script>
  import simpleParallax from 'simple-parallax-js/vanilla';

  function setupParallax() {
    const images = document.querySelectorAll('.parallax-image');

    new simpleParallax(images, {
      scale: 1.5,
      delay: 15.0,
      transition: 'cubic-bezier(0,0,0,1)',
      overflow: true,
      orientation: 'down',
    });
  }

  // Run the setup function when the DOM is ready
  document.addEventListener('astro:page-load', setupParallax);
</script>
