---
interface SectionTitle {
  title: string;
  description: string;
}

const { title = 'This is a title', description = 'This is a description' } = Astro.props;
---

<div class="flex flex-col w-full items-start gap-3">
  <div class="flex justify-start items-center gap-2">
    <div class="w-2.5 h-2.5 bg-[#47006a] rounded-[100px]"></div>

    <div class="text-start text-[#47006a] text-2xl font-bold">{title}</div>

    <div class="w-[105px] h-1 bg-slate-200 rounded-[10px]"></div>
  </div>
  <div class="flex-initial max-w-[780px] text-start text-slate-500 text-lg font-normal"> {description}
  </div>
</div>
