---
import Layout from '~/layouts/MembersLayout.astro';
import '~/assets/styles/custom.css';
import { staffMembers } from '~/data/mockStaffMembers';
import StaffCard from '~/components/widgets/StaffCard.astro';

const metadata = {
  title: 'Persian Flutter | Members',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <div
    class="w-[90vw] max-w-[450px] md:max-w-[800px] lg:max-w-full xl:w-[80vw] grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 justify-center items-center gap-8 py-12"
  >
    {staffMembers.map((member) => <StaffCard bg="bg-slate-100" staffMember={member} />)}
  </div>
</Layout>
