---
import type { MetaData } from '~/types';
import Layout from './PageLayout.astro';
import { Image } from 'astro:assets';
import PageTitle from '~/components/widgets/PageTitle.astro';
import background from '~/assets/images/membersPage-header.png';
import i18n from '~/utils/i18n';

export interface Props {
  metadata?: MetaData;
}
i18n.setLang(Astro.currentLocale);
const translations = i18n.t();
const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <div class="flex flex-col items-center w-full">
    <div class="relative w-full flex flex-col items-center justify-center">
      <Image class="absolute w-full h-full object-cover opacity-15 -z-[1]" src={background} alt="background" />
      <PageTitle
        title={translations.home.staffSection.title}
        description={translations.home.staffSection.descriptionShort}
      />
    </div>
    <slot />
  </div>
</Layout>
