---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/header/Header.astro';
import Footer from '~/components/widgets/footer/Footer.astro';

import { headerData, footerData, socialData } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---


<Layout metadata={metadata}>
  <slot name="header">
    <Header {...headerData} socialLinks = {socialData.links} isSticky showToggleTheme />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} socialLinks = {socialData.links} />
  </slot>
</Layout>
