---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/header/Header.astro';
import Footer from '~/components/widgets/footer/Footer.astro';
import { headerData, footerData, socialData } from '~/navigation';

import type { MetaData } from '~/types';
import i18n from '~/utils/i18n';

const translations = i18n.t();
export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <div class="flex flex-col min-h-screen">
    <slot name="header">
      <Header {...headerData(translations)} socialLinks={socialData.links} isSticky showToggleTheme />
    </slot>
    <main class="flex-grow">
      <slot />
    </main>
    <slot name="footer">
      <Footer {...footerData} socialLinks={socialData.links} />
    </slot>
  </div>
</Layout>
