---
import { getCollection } from 'astro:content';
import Layout from '~/layouts/PageLayout.astro';
import i18n from '~/utils/i18n';
import TopicCard from '~/components/topic/TopicCard.astro';

const metadata = {
  title: 'Persin Flutter',
  ignoreTitleTemplate: true,
};
const currentLocale = Astro.currentLocale!;
const topics = await getCollection('topic');
const effectiveTopics = topics.filter(({ slug }) => slug.startsWith(currentLocale));

i18n.setLang(currentLocale);
---

<Layout metadata={metadata}>
  <section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-6xl">
    <h1 class="text-4xl font-bold mb-8 text-center"> {'Topics'} </h1>

    <div class="grid gap-6 row-gap-5 md:grid-cols-2 lg:grid-cols-3">
      {effectiveTopics.map((topic) => <TopicCard topic={topic} />)}
    </div>

    {
      effectiveTopics.length === 0 && (
        <div class="text-center">
          <p class="text-lg text-gray-600 dark:text-slate-400">{'موضوعی یافت نشد'}</p>
        </div>
      )
    }
  </section>
</Layout>
